# Python environment and cache
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local configuration and credentials
.env
creds/
*.json
paginas_dashboard.txt

# dbt directories
logs/
target/
dbt_packages/
dbt_modules/

#refrences
references/

# OS metadata
.DS_Store
Thumbs.db